<h1>Dashboard</h1>

<% if @notifications && @notifications.length > 0 %>
  <div id="error_explanation">
    <h2>Notifications</h2>

    <ul>
		<% @notifications.each do |x| %>
      <li><%= x %></li>
		<% end %>
    </ul>
  </div>
<% end %>

<ul>
	<li>Current balance: <%= @dashboard[:current_balance] %></li>
	<li>Verification count: <%= @dashboard[:verification_count] %></li>
	<li>Total income: <%= @dashboard[:total_income] %></li>
	<li>Totel expenditure: <%= @dashboard[:total_expenditure] %></li>
	<li>First date: <%= @dashboard[:first_date] %></li>
	<li>Last date: <%= @dashboard[:last_date] %></li>
	<li><%= link_to "List", verifications_path %></li>
	<li><%= link_to "Import", "/import" %></li>
	<li><%= link_to "Import Manual", "/import_manual" %></li>
	<li><%= link_to "Import Patterns", "/patterns/import" %></li>
	<li><%= link_to "Report", "/report" %></li>
	<li><%= link_to "Categorize", "/categorize" %></li>
</ul>
