<h1>Listing verifications</h1>

<form name="filter" method="GET">
	<select name="year" onchange='this.form.submit()'>
		<%= options_for_select(@years.insert(0,"All"), @year) %>
	</select>
	<select name="category" onchange='this.form.submit()'>
		<%= options_for_select(@categories.insert(0,"All"), @category) %>
	</select>
</form>

<table id="hor-minimalist-b">
	<thead>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Category</th>
  </tr>
	</thead>

<tbody>
<% @verifications.each do |verification| %>
  <tr>
    <td><%= verification.verification_date %></td>
	<td><%= link_to verification.description.gsub(/ /, "&nbsp").html_safe, verifications_path(:year => @year, :description => verification.description) %></td>
    <td><%= verification.amount %></td>
	<td><%= link_to verification.category, verifications_path(:year => @year, :category => verification.category) %></td>
  </tr>
<% end %>
</tbody>
</table>
