<h1>Report</h1>
<%= form_tag do %>
	<select name="year" onchange='this.form.submit()'>
		<%= options_for_select(@years, @year) %>
	</select>
<% end %>

<table id="hor-minimalist-b">
	<thead>
	<tr>
		<th>Category</th>
		<% @report.column_headers.each do |h| %>
		<th><%= h %></th>
		<% end %>
		<th>Average</th>
		<th>Total</th>
	</tr>
	</thead>
	<tbody>
		<% (0..@report.height-1).each do |row_index| %>
		<tr>
			<td><%= link_to @report.row_headers[row_index], verifications_path(:year => @year, :category => @report.row_headers[row_index]) %></td>
			<% @report.data[row_index].each_with_index do |cell, index| %>
			<td><%= cell ? html_currency(cell) : "" %></td>
			<% end %>
			<td><b><%= html_currency(@report.average_row(row_index)) %></b></td>
			<td><b><%= html_currency(@report.sum_row(row_index)) %></b></td>
		</tr>
		<% end %>
		<tr>
			<td><b>Total</b></td>
			<% (0..@report.width-1).each do |col_index| %>
			<td><b><%= html_currency(@report.sum_column(col_index)) %></b></td>
			<% end %>
			<td><b><%= html_currency(@report.average) %></b></td>
			<td><b><%= html_currency(@report.sum) %></b></td>
		</tr>
	</tbody>
</table>
<h1>Chart</h1>
<div id="placeholder" style="width:600px;height:300px;"></div>
<script language="javascript" type="text/javascript" src="/flot/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="/flot/jquery.flot.stack.js"></script>
<script type="text/javascript">
$(function () {
	<%= result = ""
		vars = ""
		(0..@report.height-1).each do |row_index| 
		if @report.data[row_index].map{|x| x == nil ? 0 : x}.max <= 0
		result += "var zz" + row_index.to_s + " = " + @report.data[row_index].each_with_index.map{|x,i| [i+1, x == nil ? 0 : x]}.inspect + ";\n"
		vars += "{data:zz" + row_index.to_s + ", label: '"+@report.row_headers[row_index]+"'},"
		#end
		end
		end
	    result += "$.plot($('#placeholder'), [ "+vars+" ], {legend: {show:false},series: {stack: true, lines: { show: true, fill: true, steps: false },points: { show: true }},grid: { hoverable: true }});"
		result
	%> 
    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }

    var previousPoint = null;
    $("#placeholder").bind("plothover", function (event, pos, item) {
        $("#x").text(pos.x.toFixed(2));
        $("#y").text(pos.y.toFixed(2));

            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;
                    
                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                        y = item.datapoint[1].toFixed(2);
                    
                    showTooltip(item.pageX, item.pageY,
                                item.series.label + " " + y);
                }
            }
            else {
                $("#tooltip").remove();
                previousPoint = null;            
            }
    });
   
});
</script>


<br />


