<h1>Report</h1>
<%= form_tag do %>
	<select name="year" onchange='this.form.submit()'>
		<%= options_for_select(@years, @year) %>
	</select>
<% end %>

<table id="hor-minimalist-b">
	<thead>
	<tr>
		<th>Category</th>
		<% @report.column_headers.each do |h| %>
		<th><%= h %></th>
		<% end %>
		<th>Total</th>
		<th>Average</th>
	</tr>
	</thead>
	<tbody>
	<% (0..@report.height-1).each do |row_index| %>
	<tr>
		<td><%= link_to @report.row_headers[row_index], verifications_path(:year => @year, :category => @report.row_headers[row_index]) %></td>
		<% @report.data[row_index].each_with_index do |cell, index| %>
		<td><%= cell ? html_currency(cell) : "" %></td>
		<% end %>
		<td><%= html_currency(@report.sum_row(row_index)) %></td>
		<td><%= html_currency(@report.average_row(row_index)) %></td>
	</tr>
	<% end %>
	</tbody>
</table>

<br />


