<p>
  <b>Raw:</b>
  <%= @verification.raw %>
</p>

<p>
  <b>Bank:</b>
  <%= @verification.bank %>
</p>

<p>
  <b>Verification:</b>
  <%= @verification.verification_id %>
</p>

<p>
  <b>Verification date:</b>
  <%= @verification.verification_date %>
</p>

<p>
  <b>Amount:</b>
  <%= @verification.amount %>
</p>

<p>
  <b>Description:</b>
  <%= @verification.description %>
</p>

<p>
  <b>Category:</b>
  <%= @verification.category %>
</p>


<%= link_to 'Edit', edit_verification_path(@verification) %> |
<%= link_to 'Back', verifications_path %>
