<h1>Categorize</h1>

<p>
  <b>Bank:</b>
  <%= @verification.bank %>
</p>

<p>
  <b>Verification:</b>
  <%= @verification.verification_id %>
</p>

<p>
  <b>Verification date:</b>
  <%= @verification.verification_date %>
</p>

<p>
  <b>Amount:</b>
  <%= @verification.amount %>
</p>

<p>
  <b>Description:</b>
  <%= @verification.description %>
</p>

<%= form_tag do %>
	<%= hidden_field_tag 'vid', @verification.id %>
	Pattern: <input type="text" name="pattern" value="<%= @verification.description %>"/><br/>
	Category: <select name="category">
		<%= options_for_select(@categories.insert(0, "")) %>
	</select><br/>
	Category (new): <input type="text" name="new_category"/><br/>
	Save as pattern: <input type="checkbox" name="save" value="save"/><br/>
	<input type="submit" value="Submit" />
<% end %>


<br />


