<h1>Listing patterns</h1>

<table>
  <tr>
    <th>Pattern</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patterns.each do |pattern| %>
  <tr>
    <td><%= link_to pattern.pattern, verifications_path(:description => pattern.pattern) %></td>
    <td><%= link_to pattern.category, verifications_path(:category => pattern.category) %></td>
    <td><%= link_to 'Show', pattern %></td>
    <td><%= link_to 'Edit', edit_pattern_path(pattern) %></td>
    <td><%= link_to 'Destroy', pattern, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
